.next-button {
    background-color: #EE595D;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 16px;
    border-radius: 2px;
    float: right;
    cursor: pointer;
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Ranchers', cursive; */
    font-family: 'Shrikhand', cursive;
    /* font-family: 'Boogaloo', cursive; */
}

.next-button:hover {
    background-color: #FF96AC;
}

.quiz-header {
    font-size: 18px;
    color: #FA7C92;
    font-weight: bold;
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Ranchers', cursive; */
    font-family: 'Shrikhand', cursive;
    /* font-family: 'Boogaloo', cursive; */
}

p {
    display: inline-block;
    font-size: 18px;
}

.right {
    float: right;
}