footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

p {
    color:white;
    font-size: 30px;
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Ranchers', cursive; */
    font-family: 'Shrikhand', cursive;
    /* font-family: 'Boogaloo', cursive; */
}

span {
    font-size: 20px;
    color:white;
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Ranchers', cursive; */
    font-family: 'Shrikhand', cursive;
    /* font-family: 'Boogaloo', cursive; */
}

/* Media Queries for mobile devices */
@media screen and (max-width:640px) {
    footer {
        position: fixed;
        bottom: 0;
    }
    p {
        font-size: 20px;
    }
    span {
        font-size: 20px;
    }
}
