.navbar-brand {
    padding-left: 40%;
    color: #dfc12a !important;
}

.navbar-inverse {
    position: fixed;
    background-color: #151515 !important;
    z-index: 1;
    width: 100%;
    background-color: #c41200;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.logo {
  text-align: left;
}
.navbar-header {
    width: 100;
}
.collapsed.navbar-toggle {
    margin-right: 4%;
}
.navbar {
  padding-bottom: 0px;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    .navbar-brand {
        color: #dfc12a !important; 
        text-align: center !important;
    }
    .logo {
        text-align: center !important;
      }
      .container-fluid{
          text-align: center;
    }
}