/* body {
    background-image: url("../../images/food1.jpg");
    background-color: #cccccc;
    background-repeat:repeat-y;
    background-size: 100%;   
}
.container-fluid {
    text-align: center;
}
*/
