.navbar-custom {
    background-color: #white;
    color: #c9c9c9;
}
.navbar-brand {
    color: white;
    font-size: 50px;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}
