.navbar-custom {
    background-color: #white;
    color: #c9c9c9;
}
.navbar-brand {
    color: white;
    /* font-family: 'Passion One', cursive;
    font-family: 'Text Me One', sans-serif;
    font-family: 'IM Fell English', serif;
    font-family: 'Jacques Francois Shadow', cursive; */
    font-family: 'Lakki Reddy', cursive;
    font-size: 50px;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}
