.next-button {
    background-color: #EE595D;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 16px;
    border-radius: 2px;
    float: center;
    cursor: pointer;
}

.next-button:hover {
    background-color: #FF96AC;
}

.quiz-header {
    font-size: 18px;
    color: #dfc12a;
    font-weight: bold;
    
}

p {
    display: inline-block;
    font-size: 18px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
