h4 {
/* font-family: 'Anton', sans-serif; */
    /* font-family: 'Ranchers', cursive; */
    font-family: 'Shrikhand', cursive;
    /* font-family: 'Boogaloo', cursive; */
}
h1 {
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Ranchers', cursive; */
    font-family: 'Shrikhand', cursive;
    /* font-family: 'Boogaloo', cursive; */
}

/* Media Queries for mobile devices */
@media screen and (max-width:640px) {
    
    h1 {
      font-size:50px;
    }
    h4 {
        font-size: 25px;
    }
}