/* Title */
h1 {
    color: white;
    font-size: 105px;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}
/* Body */
h4 {
    color: #9ad3d3;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
