.navbar-inverse {
    background-color: #c41200;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-brand {
    padding-left: 40%;
}

input{
    width: 100%;
    border-size:border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    background: white;
    background-image:url('/images/searchicon.png');
    background-position: 5px 5px;
    background-repeat:no-repeat;
    padding: 12px 20px 12px 40px;
    margin-top: 20px;
    color: gray;
}

h1 {
    color: white;
    font-size: 100px;
}

h4 {
    color: white;
    font-size: 50px;
}

h1 {
    color: white !important;
    font-size: 298% !important;
    text-shadow: none !important;
    text-align: center;
}
