
input{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    background: white;
    background-image:url('/images/searchicon.png');
    background-position: 5px 5px;
    background-repeat:no-repeat;
    padding: 12px 20px 12px 40px;
    margin-top: 20px;
    color: gray;
}
h1 {

}

h4 {

}
