body {
    background-image: url("../../images/spices.jpg");
    background-color: #cccccc;
    background-repeat:repeat-y;
    background-size: 100%;
}
.container-fluid {
    text-align: center;
}
.row {
  text-align: center;
}
h1 {
    color: #white;
    font-size: 100px;
    text-outline: 5px 5px #ff0000;
}

h4 {
    color: white;
    font-size: 50px;
}
